
body{
    font-family: "Comic Sans MS"; /* Семейство шрифтов */
    font-size: 18pt; /* Размер основного шрифта в пунктах  */
    text-align: center;
    background-image:  url("font.jpg");
    color: #ffffff; /* Цвет основного текста */

}
textarea{
    min-width: 550px;
    background: #fce9c0; /* Цвет фона */
    border: 2px solid #a9c358; /* Параметры рамки */
    padding: 10px; /* Поля */
    width: 90%; /* Ширина */
    border-radius: 5px;
    height: 400px; /* Высота */
    font-size: 14px; /* Размер шрифта */
    resize: none;
}
table {
    font-size: 15pt; /* Размер основного шрифта в пунктах  */

    margin: auto;
    width: 100%; /* Ширина таблицы в процентах */
}

.button {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 15pt; /* Размер основного шрифта в пунктах  */
}
.input{

    margin-top: -35px;
    width: 200px;
    height: 40px;
    margin-left: 250px;
    max-width: 1024px;


}
.text{
    min-width: 620px;

    font-size: 20pt;
    text-align: left;
    margin-left: 35px;
    margin-top: 15px;
}
.cherk{
    text-align: right;
    font-size: 10pt;
    margin-right: 10px;
    margin-top: 10px;
}
#error{
    font-size: 12pt;
    color: red;
    margin-left: 250px;
    margin-top: -5px;
}
button{
    border-radius: 6px;
}
button:hover {
    background: #786b59; /* Цвет фона под ссылкой */
    color: #ffe; /* Цвет ссылки */
    border-radius: 6px;
}